/* .Boisson {
    text-align: center;
    padding: 20px;
  }
  .h2{
    background-color: rgba(255, 255, 255, 0.943);
    justify-content: center;
    align-items: center;
    text-align:center;
    letter-spacing: 45px;
    height: 60px;
    color: #ff1a1a;
    }
  
  .cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .selected-drinks {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .selected-drink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  
  .selected-drink button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .selected-drink button:hover {
    background-color: #ff1a1a;
  }
   */

.Boisson h1 {
    background-color: rgba(230, 217, 207, 0.943);
    justify-content: center;
    align-items: center;
    text-align:center;
    letter-spacing: 45px;
    height: 60px;
}
.selected-item{
  background-color: rgba(230, 217, 207, 0.943);
  
}
 